body
{
background-color:rgb(199, 227, 240);
font-family:"Raleway", sans-serif;
font-weight:900;
width:100%;
overflow-x:hidden;
}

.contain1
{
background-color:white;
width:550px;
height:1500px;
float:left;
margin:10px 0px 10px 300px;
box-shadow:1px 1px 6px 6px #aeb2b2;
}

#me
{
width:96%;
margin:10px;
}

.words
{
text-indent:10px;
}

#net_out
{
border-radius:25px;
width:500px;
margin-left:10px;
margin-right:10px;
background-color:#b8bcbc;
}

#net
{
border-radius:25px;
border:solid #3c9a3c;
background-color:#3c9a3c;
text-indent:10px;
width:90%;
margin-left:0px;
margin-right:0px;
}

#exp_out
{
border-radius:25px;
background-color:#b8bcbc;
width:500px;
margin-left:10px;
margin-right:10px;
}
#Cexp
{
border-radius:25px;
background-color:#3c9a3c;
width:500px;
text-indent:10px;
border:solid #3c9a3c;
}

#sup_out
{
border-radius:25px;
background-color:#b8bcbc;
width:500px;
margin-left:10px;
margin-right:10px;
}

#Csupport
{
border-radius:25px;
background-color:#3c9a3c;
width:500px;
text-indent:10px;
border: solid #3c9a3c;
}

#t_out
{
background-color:#b8bcbc;
margin-left:10px;
margin-right:10px;
width:500px;
border-radius:25px;
}

#Tmanage
{
border-radius:25px;
background-color:#3c9a3c;
width:97%;
text-indent:10px;
border: solid #3c9a3c;
}

#s_out
{
background-color:#b8bcbc;
border-radius:25px;
width:500px;
margin-left:10px;
margin-right:10px;
}

#Squality
{
border-radius:25px;
background-color:#3c9a3c;
text-indent:10px;
border:solid #3c9a3c;
width:500px;
}

#spang_out
{
border-radius:25px;
background-color:#b8bcbc;
width:500px;
margin-left:10px;
margin-right:10px;
}

#spang
{
border-radius:25px;
background-color:#3c9a3c;
width:37%;
border:solid #3c9a3c;
text-indent:10px;
}

#eng_out
{
border-radius:25px;
background-color:#b8bcbc;
margin-left:10px;
margin-right:10px;
width:500px;
}

#eng
{
background-color:#3c9a3c;
border-radius:25px;
width:100%;
text-indent:10px;
border: solid #3c9a3c;
}

.container2
{
background-color:white;
width:700px;
height:900px;
float:right;
margin:10px 300px 10px 0px;
box-shadow:1px 1px 6px 6px #aeb2b2;
}

.words2
{
text-indent:6px;
margin-left:9px;
}

.container3
{
height:377.5px;
width:700px;
float:right;
background-color:white;
margin:10px 300px 10px 0px;
box-shadow:1px 1px 6px 6px #aeb2b2;
}

.words3
{
text-indent:10px;
}
